#app *{
    box-sizing: border-box;
  }
  .con-title{
	width: 100%;
	margin: 0 auto;
}
.con1 .con-title{
}
.con-title .con_h3{
	font-size: 32px;
	color: #434a54;
	line-height: 56px;
	text-align: center;
	margin: 0 auto;
}
.con-title .con_p{
	font-size: 16px;
	color: #82939e;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
}
  /* layer */
  .layui-layer-weixin .layui-layer-title {
      padding: 0;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }
    .layui-layer-weixin .layui-layer-content img {
      display: block;
      margin: 28px auto 0 auto;
    }
    .layui-layer-weixin .layui-layer-content h3 {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      line-height: 44px;
    }
   .con3{
     padding-top: 150px;
     background: #fff;
   }
   .section-9{
     padding-top: 0;
   }
  .section-9 .con-bottom {
      margin-top: 48px;
    }
    .section-9 .con-bottom img {
      width: 1110px;
      height: 557px;
      display: block;
      margin: 0 auto;
      margin-bottom: -140px;
    }
    * {
      box-sizing: border-box;
    }
    .fn_banner {
      height: 420px;
      width: 100%;
      background: url("http://www.epower.cn/template/Home/Default/PC/Static/epower/images/yyfn/banner_02.png");
    }
    .fn_title {
      padding: 40px 0;
    }
    .fn_content {
      width: 45%;
      height: 200px;
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.3);
      border: solid 1px rgba(255, 255, 255, 0.5);
      padding: 10px;
      border-radius: 8px;
    }
    .fn_info {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      padding-left: 40px;
      padding-top: 25px;
      background: url("http://www.epower.cn/template/Home/Default/PC/Static/epower/images/yyfn/2471531206650_.png") no-repeat right bottom;
      background-size: 120px 34px;
      padding-bottom: 10px;
    }
    .fn_info p {
      color: #2876d8;
      margin-bottom: 14px;
    }
  
    /* 直播课堂 */
    .alert-ewm {
      background-color: #fff;
    }
    .container {
      background-color: #fff;
    }
    .container-1200 {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
    .mod-sub {
      margin-bottom: 55px;
      width: 100%;
    }
    .mod-sub h2 {
      font-size: 30px;
      line-height: 150px;
      text-align: center;
      position: relative;
    }
    .mod-sub h2 .btn-more {
      font-size: 16px;
      line-height: inherit;
      color: #333;
      position: absolute;
      right: -3px;
    }
    .mod-sub h2 .btn-more .icon-font {
      font-weight: 700;
      vertical-align: 1px;
    }
    .mod-sub h2 .btn-more:hover {
      color: #23b8ff;
    }
    .mod-gray-bg {
      background-color: #f4f4f4;
      padding: 55px 0;
    }
    .mod-all-courses {
      text-align: center;
      height: 70px;
      line-height: 60px;
      box-sizing: border-box;
      border: 5px solid #f4f4f4;
      border-radius: 1px;
    }
    .mod-all-courses-link {
      font-size: 18px;
      color: #333;
    }
    .mod-all-courses-link .icon-font {
      font-size: 18px;
      font-weight: 700;
      vertical-align: 1px;
    }
    .mod-all-courses-link:hover {
      color: #23b8ff;
    }
    .nano {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .nano > .nano-content {
      position: absolute;
      overflow: scroll;
      overflow-x: hidden;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .nano > .nano-content:focus {
      outline: thin dotted;
    }
    .nano > .nano-content::-webkit-scrollbar {
      display: none;
    }
    .has-scrollbar > .nano-content::-webkit-scrollbar {
      display: block;
    }
    .nano > .nano-pane {
      background: #dedede;
      position: absolute;
      width: 8px;
      right: 0;
      top: 0;
      bottom: 0;
      visibility: hidden\9;
      opacity: 0.01;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
    .nano > .nano-pane > .nano-slider {
      background: #a6a6a6;
      position: relative;
      margin: 0 1px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    .nano:hover > .nano-pane,
    .nano-pane.active,
    .nano-pane.flashed {
      visibility: visible\9;
      opacity: 0.99;
    }
    .mod-live {
      width: 100%;
    }
    .live-schedule-screen {
      width: 620px;
      height: 348px;
      float: left;
      position: relative;
      background-color: #eee;
      box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.07);
      display: none;
    }
    .live-schedule-screen.active {
      display: block;
    }
    .live-schedule-screen:hover .screen-mask {
      display: block;
    }
    .screen-bd {
      display: none;
    }
    .live-schedule-screen:hover .screen-bd {
      display: block;
    }
    .live-schedule-screen .screen-img {
      width: 100%;
      height: 100%;
    }
    .live-schedule-screen .screen-mask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.7;
      filter: alpha(opacity=70);
      display: none;
    }
    .live-schedule-screen .screen-infos {
      margin-top: 64px;
    }
    .live-schedule-screen .screen-bd {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .live-schedule-screen .screen-bd .course-name {
      margin: 0 auto;
      width: 482px;
      font-size: 24px;
      line-height: 24px;
      text-shadow: 0 0 20px rgba(102, 102, 102, 0.5);
      text-align: center;
    }
    .live-schedule-screen .screen-bd .course-name h3 {
      font-size: 28px;
      line-height: 48px;
    }
    .live-schedule-screen .screen-bd .course-name p {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 48px;
    }
    .live-schedule-screen .screen-bd .course-name h3,
    .live-schedule-screen .screen-bd .course-name p {
      color: #fff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
      display: block;
    }
    .live-schedule-screen .screen-bd .course-info {
      position: absolute;
      width: 100%;
      height: 70px;
      line-height: 70px;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: left;
    }
    .live-schedule-screen .screen-bd .teacher-info {
      font-size: 18px;
      padding-left: 15px;
      color: #fff;
      max-width: 220px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    .live-schedule-screen .screen-bd .teacher-info img {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      border-radius: 50%;
    }
    .live-schedule-screen .screen-bd .course-link {
      display: block;
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 16px;
      color: #fff;
    }
    .live-schedule-screen .screen-bd .course-link:hover {
      color: #23b8ff;
    }
    .live-schedule-screen .screen-bd .course-link span {
      float: left;
      max-width: 334px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    .live-schedule-screen .screen-bd .course-status {
      width: 100%;
      margin-top: 30px;
      line-height: 30px;
    }
    .live-schedule-screen .screen-bd .course-status .text {
      width: 280px;
      margin: 0 auto;
      font-size: 18px;
      color: #fff;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.69);
    }
    .live-schedule-screen .screen-bd .course-status .text span {
      color: #23b8ff;
      padding: 0 6px;
      font-weight: 700;
    }
    .live-schedule-screen .screen-bd .course-apply {
      display: block;
      margin: 30px auto 0;
      background-color: #23b8ff;
      border: 0;
      box-shadow: none;
      outline: none;
    }
    .live-schedule-list {
      width: auto;
      height: 348px;
      background-color: #f4f4f4;
      border: 1px solid #eee;
      border-left: 0;
      top: -1px;
    }
    .live-schedule-list .time-axis {
      position: absolute;
      border-left: 2px dotted #e8e8e8;
      height: 100%;
      left: 43px;
      z-index: 1;
    }
    .live-schedule-list .nano-pane {
      background: #eee !important;
    }
    .live-schedule-list .nano-pane .nano-slider {
      margin: 0;
      background: #ddd !important;
    }
    .live-schedule-list .list-item {
      height: 49.71429px;
      line-height: 49.71429px;
      padding: 0 48px;
      position: relative;
      font-size: 16px;
    }
    .live-schedule-list .list-item .item-time {
      float: left;
      width: 30px;
      padding-left: 25px;
      color: #bbb;
    }
    .live-schedule-list .list-item .item-time--classing {
      color: #23b8ff;
    }
    .live-schedule-list .list-item .item-time-point {
      width: 6px;
      height: 6px;
      background: #ccc;
      border: 1px solid #ccc;
      border-radius: 100%;
      position: absolute;
      left: 40px;
      top: 20.85714px;
      z-index: 2;
    }
    .live-schedule-list .list-item .item-info {
      margin-left: 80px;
      color: #333;
    }
    .live-schedule-list .slash-item .item-time {
      float: none;
      display: block;
      width: auto;
    }
    .live-schedule-list .slash-item .item-time-point {
      background: #f4f4f4;
    }
    .live-schedule-list .task-item .item-link {
      display: block;
    }
    .live-schedule-list .task-item .item-name {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
    .live-schedule-list .active,
    .live-schedule-list .task-item:hover {
      background-color: #fff;
    }
    .live-schedule-list .active .item-time,
    .live-schedule-list .task-item:hover .item-time {
      color: #23b8ff;
    }
    .live-schedule-list .active .item-time-point,
    .live-schedule-list .task-item:hover .item-time-point {
      background-color: #23b8ff;
      border-color: #23b8ff;
    }
    .live-schedule-list .active .item-info,
    .live-schedule-list .task-item:hover .item-info {
      color: #23b8ff;
    }
    .live-schedule-list .active:after,
    .live-schedule-list .task-item:hover:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: #23b8ff;
      left: 0;
      top: 0;
    }
    .mod-btn {
      font-size: 16px;
      color: #fff;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      background: #009fe8;
      height: 50px;
      line-height: 50px;
      border: 1px solid #fff;
      width: 160px;
      border-radius: 25px;
      -webkit-user-select: none;
    }
    .mod-btn {
      -webkit-box-shadow: 0 10px 15px -3px rgba(0, 159, 232, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(0, 159, 232, 0.5);
      box-shadow: 0 10px 15px -3px rgba(0, 159, 232, 0.5);
    }
    .mod-btn-narrow {
      width: 130px;
      margin-right: 15px;
    }
    .mod-btn:hover {
      color: #fff;
      -webkit-transform: translate(0, 3px);
      -moz-transform: translate(0, 3px);
      transform: translate(0, 3px);
      -webkit-box-shadow: 0 7px 15px -3px rgba(0, 159, 232, 0.5);
      -moz-box-shadow: 0 7px 15px -3px rgba(0, 159, 232, 0.5);
      box-shadow: 0 7px 15px -3px rgba(0, 159, 232, 0.5);
    }
    .mod-btn-green {
      background: #53b958;
      -webkit-box-shadow: 0 10px 15px -3px rgba(83, 185, 88, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(83, 185, 88, 0.5);
      box-shadow: 0 10px 15px -3px rgba(83, 185, 88, 0.5);
    }
    .mod-btn-green:hover {
      -webkit-box-shadow: 0 7px 15px -3px rgba(83, 185, 88, 0.5);
      -moz-box-shadow: 0 7px 15px -3px rgba(83, 185, 88, 0.5);
      box-shadow: 0 7px 15px -3px rgba(83, 185, 88, 0.5);
    }
    .mod-btn-black {
      background: #344451;
      -webkit-box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
      box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
    }
    .mod-btn-black:hover {
      -webkit-box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
      box-shadow: 0 10px 15px -3px rgba(52, 68, 81, 0.5);
    }
    .mod-btn-red {
      background: #fc4861;
      -webkit-box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
      box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
    }
    .mod-btn-red:hover {
      -webkit-box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
      -moz-box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
      box-shadow: 0 10px 15px -3px rgba(252, 72, 97, 0.5);
    }
    
  
  
  
  
  
  
  
  
  
  
    /* 通用css */
    *{
      margin: 0;
      padding: 0;
    }
    a{
        text-decoration: none;
        outline:none;
    }
    h1,
    h2,
    h3,
    h4 {
      font-weight: normal;
    
    }
    p {
      margin: 0;
    }
    ul,
    li,
    ol,
    dl,
    dt,
    dd {
      list-style: none;
    }
    .center-1200 {
      width: 1200px !important;
      margin: 0 auto !important;
    }
    .bg-fff {
      background-color: #fff !important;
    }
    .bg-f5 {
      background-color: #f5f5f5 !important;
    }
    .bg-transparent {
      background-color: transparent !important;
    }
    .pt-60 {
      padding-top: 60px;
    }
    .pb-60 {
      padding-bottom: 60px;
    }
    .mb-60 {
      margin-bottom: 60px;
    }
    .mb-40 {
      margin-bottom: 40px;
    }
    .pr {
      position: relative;
    }
    .po {
      position: absolute;
    }
    .color-434a54 {
      color: #434a54;
    }
    .color-82939e {
      color: #82939e;
    }
    .color-fff {
      color: #fff;
    }
    .color-666 {
      color: #666;
    }
    .color-333 {
      color: #333;
    }
    .font-32 {
      font-size: 32px;
    }
    .font-24 {
      font-size: 24px;
    }
    .font-16 {
      font-size: 16px;
    }
    .bold {
      font-weight: bold;
    }
    .lh-52 {
      line-height: 52px;
    }
    .lh-56 {
      line-height: 56px;
    }
    .lh-36 {
      line-height: 36px;
    }
    .lh-42 {
      line-height: 42px;
    }
    .lh-32 {
      line-height: 32px;
    }
    .text-center {
      text-align: center;
    }
    .fl {
      float: left;
    }
    .fr {
      float: right;
    }